{% extends "base.html" %}
{% load crispy_forms_tags %}  {# Load the Crispy Forms template tags #}
{% block content %}
{% load static %}


<div class="osahan-profile">
    <div class="osahan-header-nav shadow-sm bg-danger p-3 d-flex align-items-center">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger mr-3" href="home.html"><i class="icofont-rounded-left"></i></a>
          My Profile
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <!-- Profile -->
    <div class="px-3 pt-3 pb-5">
        <form method="post" class="custom-form" style="margin-bottom: 10px;">
            <div class="text-center mb-3 position-relative">
                <div class="position-absolute edit-bt">
                   <label for="upload-photo" class="mb-0"><span class="icofont-pencil-alt-5 text-white"></span></label>
                   <input type="file" name="photo" id="upload-photo" />
                </div>
                <img src="img/profile.jpg" class="rounded-pill">
             </div>
            <div class="form-group">
                {% csrf_token %}
                {% crispy form %}  {# Use the {% crispy %} template tag to render the form #}
                <button type="submit" class="btn btn-danger btn-block osahanbus-btn mb-3 rounded-1 mt-4">SUBMIT REVIEW</button>
            </div>
            <div class="form-group">
               
            </div>
        </div>
     </div>
  </form>
</div>
</div>

 <div class="fixed-bottom p-3">
    <div class="footer-menu row m-0 bg-danger shadow rounded-2">
       <div class="col-3 p-0 text-center">
          <a href="home.html" class="home text-white">
             <span class="icofont-ui-home h5"></span>
             <p class="mb-0 small">Home</p>
          </a>
       </div>
       <div class="col-3 p-0 text-center">
          <a href="my-ticket.html" class="home text-white">
             <span class="icofont-ticket h5"></span>
             <p class="mb-0 small">My Tickets</p>
          </a>
       </div>
       <div class="col-3 p-0 text-center">
          <a href="notification.html" class="home text-white">
             <span class="icofont-notification h5"></span>
             <small class="osahan-n">4</small>
             <p class="mb-0 small">Notice</p>
          </a>
       </div>
       <div class="col-3 p-0 text-center">
          <a href="profile.html" class="home text-white active">
             <span class="icofont-user h5"></span>
             <p class="mb-0 small">Account</p>
          </a>
       </div>
    </div>
 </div>


{% endblock %}

