{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block title %}SMART BUS - My Profile{% endblock %} {# Load the Crispy Forms template tags #}
{% block content %}
{% load static %}


<div class="osahan-profile">
    <div class="osahan-header-nav shadow-sm bg-danger p-3 d-flex align-items-center">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger mr-3" href="{% url 'route_plan' %}"><i class="icofont-rounded-left"></i></a>
          My Profile - {{ user.first_name }} {{ user.last_name }}
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <!-- Profile -->
    <div class="px-3 pt-3 pb-5">
        <form method="post" class="custom-form" style="margin-bottom: 10px;">
          
            <div class="form-group">
                {% csrf_token %}
                {% crispy form %}  {# Use the {% crispy %} template tag to render the form #}
                <button type="submit" class="btn btn-danger btn-block osahanbus-btn mb-3 rounded-1 mt-4">UPDATE PROFILE</button>
               </div>
            
            
            <div class="mb-5">
               
            </div>
            
         </div>
      </div>
  </form>
</div>
</div>

 

{% endblock %}

