{% extends "base.html" %}
{% block title %}SMART BUS - Login{% endblock %}
{% block content %}
{% load socialaccount %}
{% load static %}

<div class="osahan-signup">
    <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger mr-3" href="get-started.html"><i class="icofont-rounded-left"></i></a>
          Sign in to your account
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <div class="px-3 pt-3 pb-5">
        {% load crispy_forms_tags %}
       <form method="POST" id="routeForm">
        {% csrf_token %}
          <div class="form-group">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.password|as_crispy_field }}
          </div>
          <button type="submit" class="btn btn-danger btn-block osahanbus-btn mb-4 rounded-1" id="submitRouteButton">SIGN IN</button>
       </form>
       <div class="sign-or d-flex align-items-center justify-content-center mb-4">
          <hr class="mr-4">
          <p class="text-muted text-center py-2 m-0">OR</p>
          <hr class="ml-4">
       </div>
       <a href="{% provider_login_url 'google' %}" class="btn btn-block rounded-1 google-btn osahanbus-social">
       <i class="icofont-google-plus"></i> LOGIN WITH GOOGLE
       </a>
       <div class="osahan-signin text-center p-1">
          <p class="m-0">Not a member ? <a href="signup.html" class="text-danger ml-2">Sign Up</a></p>
       </div>
    </div>
 </div>
 <script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('submitRouteButton').addEventListener('click', function () {
            document.getElementById('routeForm').submit();
        });
    });
</script>

{% endblock %}
