{% extends "base.html" %}
{% block title %}SMART BUS - Register{% endblock %}
{% block content %}
{% load static %}

<div class="osahan-signup">
    <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger mr-3" href="get-started.html"><i class="icofont-rounded-left"></i></a>
          Create an account
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <div class="px-3 pt-3 pb-5">
        {% load crispy_forms_tags %}
       <form method="POST" id="routeForm" action="{% url 'route_plan' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
          <button type="submit" class="btn btn-danger btn-block osahanbus-btn mb-4 rounded-1">REGISTER</button>
       </form>
       {% if user_form.errors %}
    <p class="error-message">Please correct the errors in the registration form.</p>
{% endif %}
       <div class="sign-or d-flex align-items-center justify-content-center mb-4">
          <hr class="mr-4">
          <p class="text-muted text-center py-2 m-0">OR</p>
          <hr class="ml-4">
       </div>
       <a href="#" class="btn btn-block rounded-1 google-btn osahanbus-social">
       <i class="icofont-google-plus"></i> LOGIN WITH GOOGLE
       </a>
       <a href="#" class="my-3 btn btn-block rounded-1 fb-btn osahanbus-social">
       <i class="icofont-facebook"></i> LOGIN WITH FACEBOOK
       </a>
       
    </div>
 </div>
 

{% endblock %}
