{% extends "base.html" %}

{% block content %}
{% load static %}
{% load socialaccount %}

<div class="landing-page bg-danger">

     <div class="osahan-slider-item text-center bg-white">
        <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
         <i class="icofont-bus text-white display-1 bg-danger p-4 rounded-circle"></i>
           <h5 class="mt-4 mb-3 text-danger">SmartBus Buddy</h5>
           <p class="text-center text-dark-50 mb-5 px-4">Bus Transportation Movement through a Cloud-based Smart Review Platform.</p>
         </a><br>
         <div class="spinner"></div>
      </div>
   </div>
<div class="fixed-bottom p-4">
   <a href="{% provider_login_url 'google' %}" class="btn btn-block rounded-1 google-btn osahanbus-social">
      <i class="icofont-google-plus"></i> LOGIN WITH GOOGLE
      </a>
</div>


{% endblock %}
