{% extends "base.html" %}

{% block content %}
{% load static %}

<img class="u-image u-image-contain u-image-default u-image-1" src="{% static 'images/hgghghgh.png' %}" alt="" data-image-width="1920" data-image-height="1043">
<p class="u-text u-text-default u-text-3">Bus Transportation Movement through a Cloud-based Smart Review Platform</p>
<div class="button-container">
  <a href="{% url 'reviews:review_create' %}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">Add Review</a>
  <a href="{% url 'route_plan' %}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">Plan Route</a>
  <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">My Home</a>
  <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">Time Table</a>
</div>

<p class="u-text u-text-default u-text-4">
</p>
{% endblock %}
