{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}
<body class="bg-light">
    <!-- Notification -->
    <div class="osahan-notification padding-bt">
       <div class="osahan-header-nav shadow-sm bg-danger p-3 d-flex align-items-center">
          <h5 class="font-weight-normal mb-0 text-white">
             <a class="text-danger mr-3" href="{% url 'route_plan' %}"><i class="icofont-rounded-left"></i></a>
             Notification
          </h5>
          <div class="ml-auto d-flex align-items-center">
             <a href="#" class="text-white mr-3">Clear</a>
             <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
          </div>
       </div>
       <!-- Day & Time -->
       <div class="osahan-notification">
          <!-- Notification Items Loop -->
          {% for notification in notifications %}
          <div class="notification d-flex m-0 bg-white border-bottom p-3">
             <div class="icon pr-3">
                <span class="icofont-check-alt bg-success text-white mb-0 rounded-pill"></span>
             </div>
             <div class="noti-details l-hght-18 pr-0">
                <p class="mb-1">{{ notification.title }}</p>
                <span class="small text-muted">{{ notification.description }}</span>
             </div>
             <div class="f-10 px-0 text-right">
                <span>{{ notification.datetime|date:"TIME_FORMAT" }}</span>
             </div>
          </div>
          {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
