{% extends "base.html" %}
{% block title %}SmartBus Buddy - Route Display{% endblock %}
{% block content %}
{% load static %}

<div class="osahan-listing">
    <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger" href="{% url 'route_plan' %}"><i class="icofont-rounded-left"></i></a> &nbsp; Search Routes - {{ to_full_address }}
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a href="{% url 'route_plan' %}" class="text-white h6 mb-0"><i class="icofont-search-1"></i></a>
          <a href="#" class="mx-4 text-white h6 mb-0" data-toggle="modal" data-target="#filterModal"><i class="icofont-filter"></i></a>
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <div class="osahan-listing p-0 m-0 row border-top">
       <div class="p-2 border-bottom w-100">
          <div class="bg-white border border-warning rounded-1 shadow-sm p-2">
             <div class="row mx-0 px-1">
                <div class="col-6 p-0">
                   <small class="text-muted mb-1 f-10 pr-1">GOING FROM</small>
                   <p class="small mb-0">{{ from_full_address }}</p>
                </div>
                <div class="col-6 p-0">
                   <small class="text-muted mb-1 f-10 pr-1">GOING TO</small>
                   <p class="small mb-0">{{ to_full_address }}</p>
                </div>
             </div>
          </div>
          {% for route in routes.routes %}    
       <div class="osahan-giftcard p-3">
          
         <!-- Gift Card Item -->
         <a class="text-dark">
             <div class="osahan-gift card_item2 align-items-center row m-0 border bg-white shadow-sm border-rad8 mb-3 align-items-center">
                 <div class="pl-3 py-3">
                     <div class="gift-card">
                        <h4 class="mb-0 l-hght-10" , style="color : black">Route - {{ forloop.counter }} </h5><br>
                         <span class="text-muted small">Journey Duration : <strong>{{ route.duration }} mins </strong></span>
                     </div>
                     
                     <div class="mt-2 pb-1">
                        
                         <div style="display: flex;">
                           {% with route_data=route.route_parts %}
                           {% for leg in route_data %}
                           {% if leg.mode != "bus" %}
                           <div style="margin-left: 10px;">
                           <img src="{% static 'images/walk.svg' %}" alt="{{ leg.mode }}" onclick="openGoogleMaps('{{ leg.to_point_name }}')" style="display: inline-block;"/>
                           <span style="display: inline-block; margin: 0 5px; font-size: 16px;">&rarr;</span>
                           <p class="f-8" />{{ leg.duration|slice:"3:" }} mins</p>
                           </div>
                           {% elif leg.mode == "bus" %}
                           <div style="margin-left: 10px;">
                             <p class="small mb-0 l-hght-10 text-danger gift-code" style="margin-left: 10px;">
                                {% if "FSYO" in leg.service.id %}
                              <strong> <em>FB - </em>{{ leg.line_name }}</strong> 
                              {% elif "SYRK" in leg.service.id %}
                              <strong><em>SG - </em>{{ leg.line_name }}</strong> 
                              {% elif "TMTL" in leg.service.id %}
                              <strong><em>TM - </em>{{ leg.line_name }}</strong> 
                              {% else %}
                              <strong>{{ leg.line_name }}</strong>
                                                         {% endif %}
                                 
                                 <img src="{% static 'img/logo.png' %}" onclick="openLink('{{ leg.line_name }}', '{{ leg.from_point.place.smscode }}', '{{ leg.departure_time }}')" style="width: 18px; height: 18px;" />
                              <span style="display: inline-block; margin: 0 5px; font-size: 16px;">&rarr;</span>
                           </p>
                             {% if leg.suggested_bus == 5 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <p class="f-8" />Likely to be Very Early</p>
                                    {% elif leg.suggested_bus == 4 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <p class="f-8" />Somewhat Early</p>
                                    {% elif leg.suggested_bus == 3 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <p class="f-8" />On time</p><!-- Add code for rating 3 -->
                                    {% elif leg.suggested_bus == 2 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <p class="f-8" />Somewhat Late</p> <!-- Add code for rating 2 -->
                                    {% elif leg.suggested_bus == 1 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <p class="f-8" />Likely to be Late</p>  <!-- Add code for rating 1 -->
                                    {% else %}
                                        <!-- Default code if none of the above conditions are met -->
                                    {% endif %}</div>
                             {% endif %}
                              {% endfor %}
                           {% endwith %}
                         </div>
                         {% with route_data=route.route_parts %}
                         {% for leg in route_data %}
                         {% if leg.mode != "bus" %}
                         <p class="small mb-1"><strong>{{ leg.departure_time }}</strong> : Walk for {{ leg.duration|slice:"3:" }} mins from {{ leg.from_point_name }} <span style="display: inline-block; margin: 0 5px; font-size: 16px;">&rarr;</span> {{ leg.to_point_name }}</p>
                         {% elif leg.mode == "bus" %}
                         <p class="small mb-1"><strong>{{ leg.departure_time }}</strong> : Ride 
                          {% if "FSYO" in leg.service.id %}
                              <strong style="color: navy;">BUS {{ leg.line_name }}</strong> 
                            {% elif "SYRK" in leg.service.id %}
                              <strong style="color: green;">BUS {{ leg.line_name }}</strong> 
                            {% elif "TMTL" in leg.service.id %}
                              <strong style="color: darkred;">BUS {{ leg.line_name }}</strong> 
                            {% else %}
                              <strong>BUS {{ leg.line_name }}</strong>
                            {% endif %}
                            for {{ leg.duration|slice:"3:" }} mins from {{ leg.from_point_name }} <span style="display: inline-block; margin: 0 5px; font-size: 16px;">&rarr;</span> {{ leg.to_point_name }}</p>
                         {% endif %}
                          {% endfor %}
                          {% endwith %}
                     </div>
                     

                 </div>
             </div>
         </a>
         <!-- Gift Card Item -->
        
     </div> {% endfor %}
       <!-- Add these scripts in your HTML -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

       <script>
         function openGoogleMaps(destination) {
             var googleMapsUrl = 'https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=' + destination + '&dirflg=w';
             window.open(googleMapsUrl, '_blank');
         }
     </script>

     <script>
      function openLink(lineName, smscode, departureTime) {
          // Construct the URL with dynamic values
          var busName = lineName;
          var stopPoint = smscode;
          var arrivalTime = departureTime;
            
          // Construct the URL with the dynamic values
          var url = "{% url 'review_create' %}?busName=" + busName + "&smscode=" + stopPoint + "&departureTime=" + arrivalTime;
  
          // Open the URL in a new tab or window
          window.open(url, '_blank');
      }
  </script>
       
    </div>
 </div>
 <!-- Filter Modal -->
 <div class="modal fade" id="filterModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog m-0">
       <div class="modal-content modal-content rounded-0 border-0 vh-100">
          <form>
             <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
                <h5 class="font-weight-normal mb-0 text-white">
                   <a data-dismiss="modal" aria-label="Close" class="text-danger"><i class="icofont-rounded-left mr-3"></i></a>
                   Filter By
                </h5>
                <div class="ml-auto d-flex align-items-center">
                   <a href="#" class="text-white mr-3">Clear all</a>
                   <a class="toggle osahan-toggle h4 m-0 text-white ml-auto hc-nav-trigger hc-nav-1" href="#" role="button" aria-controls="hc-nav-1"><i class="icofont-navigation-menu"></i></a>
                </div>
             </div>
             <div class="modal-body p-3">
                <div class="mb-4">
                   <div class="d-flex">
                      <p class="mb-2 text-dark font-weight-bold">Optimal Route</p>
                   </div>
                   <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioclass1" name="customRadioclass1" class="custom-control-input">
                      <label class="custom-control-label small" for="customRadioclass1">Arrive early</label>
                   </div>
                   <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioclass2" name="customRadioclass1" class="custom-control-input">
                      <label class="custom-control-label small" for="customRadioclass2">Ontime</label>
                   </div>
                   <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioclass3" name="customRadioclass1" class="custom-control-input">
                      <label class="custom-control-label small" for="customRadioclass3">Late</label>
                   </div>
                </div>
                
             </div>
             <div class="modal-footer border-0 fixed-bottom">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-block osahanbus-btn py-3">APPLY FILTER</button>
             </div>
          </form>
       </div>
    </div>
 </div>

 <script>
   function showBusDetailsPopup(routeFrom, routeTo, duration) {
      var busDetails =
          "Start From: " + routeFrom+ "\n" +
          "To: " + routeTo + "\n" +
          "Duration: " + duration + " mins \n";
          

      // Display the route information in a pop-up
      alert(busDetails);
  }

   function closePopup() {
       // Close the pop-up window
       if (window.opener && !window.opener.closed) {
           window.opener.location.reload(); // Refresh the parent window (if needed)
           window.close();
       }
   }
</script>

{% endblock %}
