{% extends "base.html" %}
{% block title %}SmartBus Buddy - Route Display{% endblock %}
{% block content %}
{% load static %}

<div class="osahan-listing">
    <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger" href="{% url 'route_plan' %}"><i class="icofont-rounded-left"></i></a> &nbsp; Bus Search Routes
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a href="home.html" class="text-white h6 mb-0"><i class="icofont-search-1"></i></a>
          <a href="#" class="mx-4 text-white h6 mb-0" data-toggle="modal" data-target="#filterModal"><i class="icofont-filter"></i></a>
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <div class="osahan-listing p-0 m-0 row border-top">
       <div class="p-2 border-bottom w-100">
          <div class="bg-white border border-warning rounded-1 shadow-sm p-2">
             <div class="row mx-0 px-1">
                <div class="col-6 p-0">
                   <small class="text-muted mb-1 f-10 pr-1">GOING FROM</small>
                   <p class="small mb-0">{{ request.GET.from_post_code }}</p>
                </div>
                <div class="col-6 p-0">
                   <small class="text-muted mb-1 f-10 pr-1">GOING TO</small>
                   <p class="small mb-0">{{ request.GET.to_post_code }}</p>
                </div>
             </div>
          </div>
       </div>
       <!-- List Item -->
       {% for route in routes.routes %}
       <a class="text-dark col-6 px-0">
         <div class="list_item_gird m-0 bg-white shadow-sm listing-item border-bottom border-right">
             <div class="px-3 pt-3 tic-div">
                 <div class="list-item-img">
                     <img src="{% static 'img/listing/item1.png' %}" class="img-fluid">
                 </div>
                 <p class="mb-0 l-hght-10">Route {{ forloop.counter }} - Journey Duration : {{ route.duration }} mins</p>
                 {% with route_data=route.route_parts %}
                 {% for leg in route_data %}
                 <div>
                     <div class="p-3 d-flex">
                         <div class="bus_details w-100">
                           
                             <div>

                              <div class="d-flex l-hght-10">
                                 <span class="icofont-clock-time small mr-2 text-danger"></span>
                                 <div>
                                     <small class="text-muted mb-2 d-block">Journey Start</small>
                                     <p class="small">{{ leg.departure_time }} </p>
                                 </div>
                             </div>
                             <div class="d-flex l-hght-10">
                                 
                                 <div>
                                 
                                     <p class="small mb-1">{% if leg.mode == "bus" %}
                                       <button type="button" onclick="openLink('{{ leg.line_name }}', '{{ leg.from_point.place.smscode }}', '{{ leg.departure_time }}')">
                                          <img src="{% static 'img/logo.png' %}" style="width: 24px; height: 24px;" />
                                       <strong>{{ leg.line_name }}</strong></button> Ride from
                                       {% endif %}
                                       {% if leg.mode != "bus" %}
                                       <img src="{% static 'images/walk.svg' %}" alt="{{ leg.mode }}" onclick="openGoogleMaps('{{ leg.to_point_name }}') "/> Walk for {{ leg.duration|slice:"3:" }} mins from
                                       <label onclick="showBusDetailsPopup('{{ forloop.counter }}', '{{ route.duration }}', '{{ leg.departure_time }}', '{{ leg.line_name }}', '{{ leg.from_point.place.smscode }}');">
                                          <em>Click Here</em>
                                      </label>
                                       {% endif %}{{ leg.from_point_name }} <strong>to</strong> {{ leg.to_point_name }}</p>
                                 </div>
                             </div>
                                
                                 {% if leg.suggested_bus %}
                                 <p>Bus Rating: 
                                    {% if leg.suggested_bus == 5 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                        <span class="text-dark">Likely to be Very Early</span>
                                    {% elif leg.suggested_bus == 4 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                        <span class="text-dark">Somewhat Early</span>
                                    {% elif leg.suggested_bus == 3 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <span class="text-dark">On time</span><!-- Add code for rating 3 -->
                                    {% elif leg.suggested_bus == 2 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <span class="text-dark">Somewhat Late</span> <!-- Add code for rating 2 -->
                                    {% elif leg.suggested_bus == 1 %}
                                    <i class="icofont-star text-danger"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <i class="icofont-star text-muted"></i>
                                    <span class="text-dark">Likely to be Late</span>  <!-- Add code for rating 1 -->
                                    {% else %}
                                        <!-- Default code if none of the above conditions are met -->
                                    {% endif %}
                                </p>
                                
                                 {% endif %}
                             </div>
                             
                         </div>
                     </div>
                 </div>
                 {% endfor %}
                 {% endwith %}
             </div>
         </div> 
     </a>
     
       {% endfor %}

       <script>
         function openGoogleMaps(destination) {
             var googleMapsUrl = 'https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=' + destination + '&dirflg=w';
             window.open(googleMapsUrl, '_blank');
         }
     </script>

     <script>
      function openLink(lineName, smscode, departureTime) {
          // Construct the URL with dynamic values
          var busName = lineName;
          var stopPoint = smscode;
          var arrivalTime = departureTime;
            
          // Construct the URL with the dynamic values
          var url = "{% url 'review_create' %}?busName=" + busName + "&smscode=" + stopPoint + "&departureTime=" + arrivalTime;
  
          // Open the URL in a new tab or window
          window.open(url, '_blank');
      }
  </script>
       
    </div>
 </div>
 <!-- Filter Modal -->
 <div class="modal fade" id="filterModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog m-0">
       <div class="modal-content modal-content rounded-0 border-0 vh-100">
          <form>
             <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
                <h5 class="font-weight-normal mb-0 text-white">
                   <a data-dismiss="modal" aria-label="Close" class="text-danger"><i class="icofont-rounded-left mr-3"></i></a>
                   Filter By
                </h5>
                <div class="ml-auto d-flex align-items-center">
                   <a href="#" class="text-white mr-3">Clear all</a>
                   <a class="toggle osahan-toggle h4 m-0 text-white ml-auto hc-nav-trigger hc-nav-1" href="#" role="button" aria-controls="hc-nav-1"><i class="icofont-navigation-menu"></i></a>
                </div>
             </div>
             <div class="modal-body p-3">
                <div class="mb-4">
                   <div class="d-flex">
                      <p class="mb-2 text-dark font-weight-bold">Optimal Route</p>
                   </div>
                   <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioclass1" name="customRadioclass1" class="custom-control-input">
                      <label class="custom-control-label small" for="customRadioclass1">Arrive early</label>
                   </div>
                   <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioclass2" name="customRadioclass1" class="custom-control-input">
                      <label class="custom-control-label small" for="customRadioclass2">Ontime</label>
                   </div>
                   <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioclass3" name="customRadioclass1" class="custom-control-input">
                      <label class="custom-control-label small" for="customRadioclass3">Late</label>
                   </div>
                </div>
                
             </div>
             <div class="modal-footer border-0 fixed-bottom">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-block osahanbus-btn py-3">APPLY FILTER</button>
             </div>
          </form>
       </div>
    </div>
 </div>

 <script>
   function showBusDetailsPopup(routeCounter, duration, departureTime, lineName, smscode) {
      var busDetails =
          "Route " + routeCounter + " - Journey Duration: " + duration + " mins\n" +
          "Departure Time: " + departureTime + "\n" +
          "Bus Line: " + lineName + "\n" +
          "Stop Code: " + smscode;

      // Display the route information in a pop-up
      alert(busDetails);
  }

   function closePopup() {
       // Close the pop-up window
       if (window.opener && !window.opener.closed) {
           window.opener.location.reload(); // Refresh the parent window (if needed)
           window.close();
       }
   }
</script>

{% endblock %}