{% extends 'base.html' %}


{% block content %}
<style>
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }

    .star-rating input[type="radio"] {
        display: none;
    }

    .star-rating label {
        font-size: 40px;
        color: #ddd;
        cursor: pointer;
    }

    .star-rating label::before {
        content: '\2605';
    }

    .star-rating input[type="radio"]:checked ~ label {
        color: #ff9b00;
    }
</style>
<h2>Create a Review</h2>
{% load crispy_forms_tags %}
<form method="post" class="custom-form" style="margin-bottom: 10px;">
    {% csrf_token %}
    {{ form.user|as_crispy_field }}
    {{ form.stop_point|as_crispy_field }}
    {{ form.bus_id|as_crispy_field }}
    {{ form.rating|as_crispy_field }}
    <div class="star-rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1"></label>
    </div>
    {{ form.comment|as_crispy_field }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<style>
    /* Add spacing to form fields */
    .custom-form .form-group {
        margin-bottom: 10px;
    }
</style>

<script>
    const starRatingInputs = document.querySelectorAll('.star-rating input[type="radio"]');
    const ratingField = document.querySelector('#id_rating');

    starRatingInputs.forEach(input => {
        input.addEventListener('click', () => {
            ratingField.value = input.value;
        });
    });
</script>

<script>
    // JavaScript code to populate bus options based on selected stop point
    const stopPointSelect = document.querySelector("#id_stop_point");
    const busIdSelect = document.querySelector("#id_bus_id");

    stopPointSelect.addEventListener("change", () => {
        const stopPointId = stopPointSelect.value;
        busIdSelect.innerHTML = ""; // Clear current options

        // Fetch bus options based on the selected stop point and populate the busIdSelect
        fetch(`/get_buses/${stopPointId}/`)
            .then(response => response.json())
            .then(data => {
                data.forEach(bus => {
                    const option = document.createElement("option");
                    option.value = bus.id;
                    option.textContent = bus.bus_id;
                    busIdSelect.appendChild(option);
                });
            });
    });
</script>
</div>
{% endblock %}
