{% extends "base.html" %}

{% block content %}
{% load static %}

</style>
<div class="osahan-signup">
    <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-danger">
       <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-danger mr-3" href="{% url 'route_plan' %}"><i class="icofont-rounded-left"></i></a>
          Review Bus - Search Results - {% if stop_points %}{{ stop_points|join:", " }}{% else %}No results{% endif %}
       </h5>
       <div class="ml-auto d-flex align-items-center">
          <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
       </div>
    </div>
    <div class="p-3">
        <form method="GET" action="{% url 'reviews:review_create' %}">
            {% csrf_token %}
          <div class="form-group">
             <label class="text-muted f-10 mb-1" for="stop_name">Stop Name:</label>
             <input type="text" class="form-control" id="stop_name" name="stop_name" value="{{ request.GET.stop_name }}" aria-label="Stop Name"><br>
             <button type="submit" class="btn btn-danger btn-block osahanbus-btn rounded-1">Search</button>
          </div>
       </form>
       
       {% load crispy_forms_tags %}
       <form method="post" class="custom-form" style="margin-bottom: 10px;">
        {% csrf_token %}
      <div class="form-group">
        {{ form.full_name|as_crispy_field }}
      </div>
      <div class="form-group">
        <label for="bus-select">Select a Bus:</label>
        <select name="bus_id" id="bus-select" class="form-control">
         {% for bus in buses %}
           <option value="{{ bus.bus_id }}">{{ bus.bus_id }}</option>
         {% endfor %}
       </select>
      </div>
      <div class="form-group">
        <label for="star5" title="Very Early">
            <input type="radio" id="star5" name="rating" value="5">
            Very Early
        </label>&nbsp;&nbsp;&nbsp;
        <label for="star4" title="Somewhat Early">
            <input type="radio" id="star4" name="rating" value="4">
            Somewhat Early
        </label>&nbsp;&nbsp;&nbsp;
        <label for="star3" title="On Time">
            <input type="radio" id="star3" name="rating" value="3">
            On Time
        </label>&nbsp;&nbsp;&nbsp;
        <label for="star2" title="Somewhat Late">
            <input type="radio" id="star2" name="rating" value="2">
            Somewhat Late
        </label>&nbsp;&nbsp;&nbsp;
        <label for="star1" title="Late">
            <input type="radio" id="star1" name="rating" value="1">
            Late
        </label>&nbsp;&nbsp;&nbsp;
    </div>
    {{ form.comment|as_crispy_field }}
      <button type="submit" class="btn btn-danger btn-block osahanbus-btn mb-3 rounded-1 mt-4">SUBMIT REVIEW</button>
      
   </form>
   
 </div>


{% endblock %}
